<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quantified Self</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">
</head>
    <body>

    <div class="container my-5 py-5 z-depth-1">
    <section class="text-center px-md-5 mx-md-5 dark-grey-text">
        <div class="row mb-5">
        <div class="col-md-4 mx-auto">
            <div class="view mb-4 pb-2">
            <img src="https://cdn-icons.flaticon.com/png/512/2797/premium/2797388.png?token=exp=1647491764~hmac=79cdea78418b9d7bb7ec4b397599a149" class="img-fluid" alt="smaple image">
            </div>
        </div>
        </div>
        <h3 class="font-weight-bold mb-4 pb-2">Data you are trying to enter is invalid.</h3>
        <a type="button" href="/" class="btn btn-deep-purple btn-rounded">Login Again</a>
    </section>
    </div>
        
    </body>
</html>